@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* background-color: #f2f1f1; */
  font-family: -apple-system, system-ui, BlinkMacSystemFont;
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* For Internet Explorer 10+ */
  scrollbar-width: none; /* For Firefox */
}
